[submodule "vendor/duktape"]
	path = vendor/duktape
	url = https://github.com/svaarala/duktape.git
	ignore = dirty
[submodule "vendor/dukglue"]
	path = vendor/dukglue
	url = https://github.com/Aloshi/dukglue.git
	ignore = dirty
[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib.git
	ignore = dirty
[submodule "vendor/duktape-releases"]
	path = vendor/duktape-releases
	url = https://github.com/svaarala/duktape-releases.git
	ignore = dirty
